body {
    text-align: center;
    height: 100%;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.svg-container { 
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; 
    vertical-align: middle; 
    overflow: hidden; 
    margin: 0;

    background: yellow;
}

.svg-content { 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
